<section id='viewCatalog' class='background-img'>
  {{#if hotels}}
    <div class='added-hotels'>
      {{#each hotels}}
        <a href='/hotel/{{this._id}}/details' class='added-hotel'>
          <img src='{{this.image}}' alt='' class='picture-added-hotel' />
          <h3>{{this.name}}</h3>
          <span>Free rooms: {{this.freeRooms}}</span>
        </a>
      {{/each}}
    </div>
  {{else}}
    <div class='guest'>
      There are no Hotels found...
    </div>
  {{/if}}
</section>